<h1 class="span12">Generer workshop-bestillinger</h1>
<p class="span11">Med dette skjemaet kan du opprette matbestillinger for alle workshopdagene inkl. fridagen. Når du fyller ut skjemaet blir det opprettet én bestilling for hver dag, alle med samme informasjon. Du kan om ønskelig redigere de enkeltvis etterpå. Merk at dette skjemaet ikke sletter eksisterende bestillinger hvis det brukes flere ganger.</p>

<%= render 'mass_form' %>
